{% extends 'base.html' %}

{% block title %}SBZ - reset hasła{% endblock %}

{% block content %}

<h2>Nowe hasło</h2>
  
{{ form.non_field_errors}}
<form method="post">
	{% load widget_tweaks %}
	{% csrf_token %}
	<p class="fieldWrapper">
		{{ form.new_password1.errors }}
		<label for="{{ form.new_password1.id_for_label }}">Hasło: </label>
		{{ form.new_password1 | attr:"class:w3-input w3-border" }}
	</p>
	<p class="fieldWrapper">
		{{ form.new_password2.errors }}
		<label for="{{ form.new_password2.id_for_label }}">Powtórzenie hasła: </label>
		{{ form.new_password2 | attr:"class:w3-input w3-border" }}
	</p>
	<button class="w3-button w3-block w3-teal">Akceptuj</button>
</form>

{% endblock %}