{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

  <h2>Zapomniałeś hasła?</h2>
  <p>Wprowadź adres e-mail w polu poniżej.</p>
  
<form method="post">
	{% load widget_tweaks %}
	{% csrf_token %}
	<p class="fieldWrapper">
		{{ form.email.errors }}
		<label for="{{ form.password.id_for_label }}">Adres e-mail: </label>
		{{ form.email | attr:"class:w3-input w3-border" }}
	</p>
	<button class="w3-button w3-block w3-teal">Akceptuj</button>
</form>


{% endblock %}